p, h1, h2, h3, h4, h5, h6, font {
    margin:0;
}
*::selection {
    color:white;
    background-color:black;
}
.container {
    display:grid;
    grid-template-rows:1fr;
}

.social-icons {
    position:absolute;
    top:25px;
    left:25px;
}
@media(min-width:1550px) {
    .social-icons {
        position:fixed;
    }
}
.social-icons a {
    text-decoration:none;
}
.social-icons a,
.social-icons img {
    width:20px;
    filter: saturate(0%) brightness(70%) contrast(1000%);
}

nav {
    position:absolute;
    top:20px;
    right:25px;
}
@media(min-width:1750px) {
    nav {
        position:fixed;
    }
}
nav a {
    text-decoration:none;
    line-height:0;
}
.heading-xl {
    line-height:5rem;
}
.inline-headshot {
    display:inline;
    margin:0 20px;
    width:85px;
    height:85px;
}

.grid-2 {
    column-gap:20px;
    row-gap:20px;
}
.grid-3 {
    column-gap:20px;
    row-gap:20px;
}
.card {
    position:relative;
    display:inline-block;
    border-radius:15px;
    padding:25px;
    background-color:#f6f6f6;
    cursor:pointer;
}
.color-cards .card {
    padding:50px 25px;
}
.testimonials .card {
    padding:35px 25px;
}

.date-label {
    font-size:12px;
    color:black !important;
    padding:0px 10px;
    background-color:rgba(255,255,255,0.7);
    border-radius:1000px;
    position:absolute;
    top:12px;
    left:12px;
    backdrop-filter: blur(5px);
}

.darkmode {
    background-color:black;
}
.darkmode * {
    color:white;
}
.darkmode .text-md,
.darkmode .text-lg,
.darkmode .text-xl,
.darkmode .text-2xl {
    color:rgba(255,255,255,0.8)
}
.darkmode ul li {
    color:rgba(255,255,255,0.8)
}
.darkmode ul li::marker {
    color:rgba(255,255,255,1)
}
.darkmode .card .text-2xl,
.darkmode .card .text-xl {
    opacity:1;
}

.darkmode .social-icons a,
.darkmode .social-icons img {
    filter: saturate(0%) brightness(100000%) contrast(1000%);
    opacity:0.8;
}
.darkmode .card {
    background-color:rgba(255,255,255,0.1) !important;
}

.logo {
    width:55px;
    height:55px;
    margin-bottom:20px;
}

.testimonial {
    border-radius:1000px;
    width:55px;
    margin-bottom:20px;
}



/* Blog Post */
.blog .row {
    width:750px;
}
.blog img {
    width:1080px;
    max-width:100vw;
    display:block;
    float:none;
    margin-left:auto;
    margin-right:auto;
}

.blog ul {
    display:block;
    float:left;
    margin-bottom:16px;
}
.blog ul li {
    line-height:1.8;
    font-size:1.2rem;
    color:rgb(0,0,0);
}
.post-body h2 {
    margin-bottom:16px;
    margin-top:48px;
    font-size:2.25rem;
    line-height:2.75rem;
    display:block;
    float:left;
}
.blog p {
    margin-bottom:16px;
    line-height:1.8;
    font-size:1.2rem;
    color:rgb(0,0,0);
    display:block;
    float:left;
}
.post-body u {
    text-decoration:underline;
    text-decoration-color: rgba(5,236,255,0.25);
    text-underline-offset: -5px;
    text-decoration-thickness: 10px;
    text-decoration-skip-ink: none;
}
.darkmode ul li,
.darkmode .blog p {
    color:rgb(200,200,200);
}

.darkmode .post-body u {
    text-decoration-color: rgba(255,255,255,1);
    text-underline-offset: 3px;
    text-decoration-thickness: 3px;
    text-decoration-skip-ink:auto;
}





@media(max-width:767px) {
    .social-icons {
        right:25px;
        left:auto;
    }
    nav {
        right:25px;
        top:70px;
    }
    .heading-xl {
        line-height:3.5rem;
    }

    .inline-headshot {
        width:65px;
        height:65px;
        margin:0 15px;
    }
    .home .heading-xl {
        font-size:2.5rem
    }

    .post-body h2 {
        margin-bottom:12px;
        margin-top:36px;
        font-size:1.8rem;
        line-height:2.4rem;
    }
    .blog p {
        margin-bottom:12px;
        line-height:1.8;
        font-size:1.125rem;
    }

    .blog br {
        display:none;
    }
}
