/***** Load relevant fonts for this project *****/

/* --- Montserrat --- */
/*@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,400;0,500;0,600;0,700;0,800;1,400;1,500;1,600;1,700;1,800&display=swap');*/

/* --- Inter --- */
@import url('https://fonts.googleapis.com/css2?family=Inter:wght@200;300;400;500;600;700;800&display=swap');

/* --- DM Serif --- */
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display&display=swap');

/* --- Merriweather --- */
@import url('https://fonts.googleapis.com/css2?family=Merriweather:wght@300;400;700;900&display=swap');

/* --- Bitter --- */
@import url('https://fonts.googleapis.com/css2?family=Bitter:wght@400;500;600;700;800;900&display=swap');


/* --- Set Global Font --- */
html {
    font-family: 'Inter', sans-serif;
    -ms-text-size-adjust:100%;
    -webkit-text-size-adjust:100%;
    height:100%;
    line-height:0;
}

h1,h2 {
    font-weight:600 !important;
}


/* --- Headings --- */
.heading-2xl {
    font-size:4.5rem;
    /* font size:72px */
    line-height:5rem;
}
.heading-xl {
    font-size:3.75rem;
    /* font size:60px */
    line-height:4.5rem;
}
.heading-lg {
    font-size:2.75rem;
    /* font size:48px */
    line-height:3.5rem;
}
.heading-md {
    font-size:2.25rem;
    /* font size:36px */
    line-height:2.75rem;
}
.heading-sm {
    font-size:1.875rem;
    /* font size:30px */
    line-height:2.375rem;
}
.heading-xs {
    font-size:1.5rem;
    /* font size:24px */
    line-height:2rem;
}

/* --- Body Text --- */
.text-2xl {
    font-size:1.375rem;
    /* font size:20px */
    line-height:1.8;
}
.text-xl {
    font-size:1.25rem;
    /* font size:20px */
    line-height:1.65;
}
.text-lg {
    font-size:1.125rem;
    /* font size:18px */
    line-height:1.65;
}
.text-md {
    font-size:1rem;
    /* font size:16px */
    line-height:1.8rem;
}
.text-sm {
    font-size:0.9rem;
    /* font size:14px */
    line-height:1.65rem;
}
.text-xs {
    font-size:0.75rem;
    /* font size:12px */
    line-height:1.5rem;
}

/* Font Styles */
.weight-light {
    font-weight:300;
}
.weight-regular {
    font-weight:400;
}
.weight-medium {
    font-weight:500;
}
.weight-semibold {
    font-weight:600;
}
.weight-bold,
strong {
    font-weight:700;
}
.weight-black {
	font-weight:800;
}

/* Alignment */
.text-left {
    text-align:left;
}
.text-center {
    text-align:center;
}
.text-right {
    text-align:right;
}

/* Lists */
ul {
    padding-left:22px;
    line-height:2.125rem;
    float:left;
    margin:0;
}
ul li {
    font-size:1.125rem;
    margin-bottom:0.75rem;
}
ul li:last-child {
    margin-bottom:0;
}
@media(max-width:767px) {
    ul {
        padding-left:18px;
    }
}




/* --- Breakpoints */

@media (max-width: 1180px) {
    /* Small Desktop + Tablet Landscape */
    
}
@media (max-width: 768px) {
    /* Mobile + Tablet Portrait */ 

    /* --- Headings --- */
    .heading-2xl {
        font-size:3.5rem;
        line-height:3.875rem;
    }
    .heading-xl {
        font-size:3rem;
        line-height:3.35rem;
    }
    .heading-lg {
        font-size:2.5rem;
        line-height:2.75rem;
    }
    .heading-md {
        font-size:2rem;
        line-height:2.65rem;
    }
}
@media (max-width: 767px) {
    /* Mobile */ 

    /* --- Headings --- */
    .heading-2xl {
        font-size:3.25rem;
        line-height:3.5rem;
    }
    .heading-xl {
        font-size:2.5rem;
        line-height:3.25rem;
    }
    .heading-lg {
        font-size:2rem;
        line-height:2.5rem;
    }
    .heading-md {
        font-size:1.75rem;
        line-height:2.25rem;
    }
    .heading-sm {
        font-size:1.5rem;
        /* font size:30px */
        line-height:2rem;
    }
    .heading-xs {
        font-size:1.25rem;
        /* font size:24px */
        line-height:1.75rem;
    }
    
    /* --- Body Text --- */
    .text-2xl {
        font-size:1.125rem;
        /* font size:20px */
        line-height:1.8;
    }
    .text-xl {
        font-size:1.125rem;
        /* font size:20px */
        line-height:1.65;
    }
    .text-lg {
        font-size:1.125rem;
        /* font size:18px */
        line-height:1.65;
    }
    .text-md {
        font-size:1.125rem;
        /* font size:16px */
        line-height:1.8rem;
    }
    .text-sm {
        font-size:1rem;
        /* font size:14px */
        line-height:1.65rem;
    }
    .text-xs {
        font-size:0.85rem;
        /* font size:12px */
        line-height:1.5rem;
    }
}
