/* █▀▄▀█ █ █▄░█ █ █▀▄▀█ ▄▀█ █░░ █ █▀ ▀█▀   █░█ █
   █░▀░█ █ █░▀█ █ █░▀░█ █▀█ █▄▄ █ ▄█ ░█░   █▄█ █ */


/* --- Color Set Variables --- */

:root {
	--primary:rgb(79,70,229);
	--secondary:rgb(14,165,233);
	--heading:rgb(0,0,0);
	--body:rgb(50,50,50);
}


/* --- Set Row Max Width --- */
.row {
    max-width:92vw;
    width:1000px;
	display:block;
}

/* --- Baseline Text Styles --- */
.heading-2xl, .heading-xl, .heading-lg, .heading-md, .heading-sm, .heading-xs {
	color:var(--heading);
	font-weight:700;
}
.text-2xl, ul, li, .text-xl, .text-lg, .text-md, .text-sm, .text-xs {
	color:var(--body);
	font-weight:400;
}


/***** Colors *****/

/* --- Brand Colors --- */
.color-primary {
    color:var(--primary);
}
.color-secondary {
    color:var(--secondary);
}
.color-heading {
    color:var(--heading);
}
.color-body {
    color:var(--body);
}
.bg-primary {
    background-color:var(--primary);
}
.bg-primary-transparent {
	background-color:rgba(79,70,229,0.07)
}
.bg-secondary {
    background-color:var(--secondary);
}
.bg-heading {
    background-color:var(--heading);
}
.bg-body {
    background-color:var(--body);
}


/* --- Default Colors --- */

.bg-transparent {
    background-color:rgba(0,0,0,0);
}
.color-white {
    color:#fff;
}
.bg-white {
	background-color:white;
}
.color-black {
    color:#000;
}
.bg-black {
	background-color:#000;
}
.color-black::selection {
    background-color:#000;
    color:white;
}
.border-black {
    border-color:#000;
}
.bg-grey-240 {
    background-color:rgb(240,240,240);
}
.bg-light-grey {
    background-color:rgb(247,247,247);
}
.bg-lighter-grey {
    background-color:rgb(252,252,252);
}



/* Containers */

.container {
    display:block;
    width:100%;
    text-align:center;
}

.row {
    display:inline-block;
    float:none;
    margin-left:auto;
    margin-right:auto;
}

.block {
    display:block;
    float:left;
    width:100%;
}

.inline-block {
    display:inline-block;
    width:auto;
}

.clear {
    clear:both;
}



/* --- Flexbox --- */
.flex {
	display:flex;
	width:100%;
}
.inline-flex {
	display:inline-flex;
}
.flex-row {
	flex-direction:row;
}
.flex-row-reverse {
	flex-direction:row-reverse;
}
.flex-column {
	flex-direction:column;
}
.flex-column-reverse {
	flex-direction:column-reverse;
}
.flex-start {
	align-items:flex-start;
}
.flex-center {
	align-items:center;
}
.flex-end {
	align-items:flex-end;
}
.flex-distribute {
	justify-content:space-between;
}




/***** Buttons *****/
button {
    cursor:pointer;
	border:none;
}





/***** Spacing *****/

/* --- Margin (base 16) --- */
.m-xs {
	margin:4px;
}
.m-sm {
	margin:8px;
}
.m-md {
	margin:16px;
}
.m-lg {
	margin:32px;
}
.m-xl {
	margin:64px;
}
.m-2xl {
	margin:128px;
}
/* --- Margin Top --- */
.mt-xs {
	margin-top:4px;
}
.mt-sm {
	margin-top:8px;
}
.mt-md {
	margin-top:16px;
}
.mt-lg {
	margin-top:32px;
}
.mt-xl {
	margin-top:64px;
}
.mt-2xl {
	margin-top:128px;
}
/* --- Margin Right --- */
.mr-xs {
	margin-right:4px;
}
.mr-sm {
	margin-right:8px;
}
.mr-md {
	margin-right:16px;
}
.mr-lg {
	margin-right:32px;
}
.mr-xl {
	margin-right:64px;
}
.mr-2xl {
	margin-right:128px;
}
/* --- Margin Bottom --- */
.mb-xs {
	margin-bottom:4px;
}
.mb-sm {
	margin-bottom:8px;
}
.mb-md {
	margin-bottom:16px;
}
.mb-lg {
	margin-bottom:32px;
}
.mb-xl {
	margin-bottom:64px;
}
.mb-2xl {
	margin-bottom:128px;
}
/* --- Margin Left --- */
.ml-xs {
	margin-left:4px;
}
.ml-sm {
	margin-left:8px;
}
.ml-md {
	margin-left:16px;
}
.ml-lg {
	margin-left:32px;
}
.ml-xl {
	margin-left:64px;
}
.ml-2xl {
	margin-left:128px;
}


/* --- Padding (base 16) --- */
.p-none {
	padding:0;
}
.p-xs {
	padding:4px;
}
.p-sm {
	padding:8px;
}
.p-md {
	padding:16px;
}
.p-lg {
	padding:24px;
}
.p-xl {
	padding:32px;
}
.p-2xl {
	padding:64px;
}
.p-3xl {
	padding:128px;
}
/* --- Margin Top --- */
.pt-xs {
	padding-top:4px;
}
.pt-sm {
	padding-top:8px;
}
.pt-md {
	padding-top:16px;
}
.pt-lg {
	padding-top:32px;
}
.pt-xl {
	padding-top:64px;
}
.pt-2xl {
	padding-top:128px;
}
/* --- Margin Right --- */
.pr-xs {
	padding-right:4px;
}
.pr-sm {
	padding-right:8px;
}
.pr-md {
	padding-right:16px;
}
.pr-lg {
	padding-right:32px;
}
.pr-xl {
	padding-right:64px;
}
.pr-2xl {
	padding-right:128px;
}
/* --- Margin Bottom --- */
.pb-xs {
	padding-bottom:4px;
}
.pb-sm {
	padding-bottom:8px;
}
.pb-md {
	padding-bottom:16px;
}
.pb-lg {
	padding-bottom:32px;
}
.pb-xl {
	padding-bottom:64px;
}
.pb-2xl {
	padding-bottom:128px;
}
/* --- Margin Left --- */
.pl-xs {
	padding-left:4px;
}
.pl-sm {
	padding-left:8px;
}
.pl-md {
	padding-left:16px;
}
.pl-lg {
	padding-left:32px;
}
.pl-xl {
	padding-left:64px;
}
.pl-2xl {
	padding-left:128px;
}

@media(max-width:767px) {

	.mt-2xl {
		margin-top:64px;
	}

	.mb-lg {
		margin-bottom:26px;
	}
	.mb-xl {
		margin-bottom:48px;
	}
	.mb-2xl {
		margin-bottom:64px;
	}

	.pt-lg {
		padding-top:26px;
	}
	.pt-xl {
		padding-top:48px;
	}
	.pt-2xl {
		padding-top:96px;
	}
}

/* --- Grid --- */
.grid-1 {
	display:grid;
	width:100%;
	grid-template-columns:1fr;
	grid-template-rows:auto;
}
.grid-2 {
    display:grid;
    grid-template-columns:1fr 1fr;
    width:100%;
}
.grid-3 {
	display:grid;
	width:100%;
	grid-template-columns:1fr 1fr 1fr;
	grid-template-rows:auto;
}

.grid-gap-20 {
	row-gap:20px;
	column-gap:20px;
}

.row-gap-30 {
	row-gap:20px;
}

@media(max-width:767px) {
	.grid-2, .grid-3 {
		grid-template-columns:1fr;
	}
}

